body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  margin-left: 300px;
  flex: 0%;
  position: absolute;
}

.sidebar {
  height: 100vh;
  position: fixed;
}

.homepage {
  width: 300px;
}

.shoot {
  margin-top: 20px;
  margin-left: 35px;

}

.pageView {
  margin-left: 300px;
  width: 140vh;
  margin-top: 50px;
}

.header {
  width: 110vh;
  text-align: center;
}

h2 {
  margin-left: 1em;
}

.mr-1 {
  margin-left: 2em;
}

.sidebarHeader {
  font-size: 20px;
  margin-left: 5px;
}

.accordiation-1 {
  margin-left: 500px;
}

.availEnvButton, .addEnvButton {
  min-width: 150px;
  text-align: left;
}

.environmentDescription {
  color: grey;
}

.addButton {
  margin-left: 20px;
}

.buttons {
  display: table-row;
}

.listButton, .addEnvButton {
  display: table-cell;
  padding-right: 10px;
  padding-top: 5px;
}

.addEnvDiv {
  padding-left: 20px;
  padding-bottom: 10px;
}

.addEnvButton {
  padding-left: 20px;
  padding-bottom: 10px;
}

.logInButton {
  margin-left: 8.5em;
}

.welcomeImage {
  padding-left: 100px
}